
<h2 > Project Details</h2>
<button  (click)="addProject()"> Add Project</button>
<table >
  <thead>
  <tr>
    <!-- <th class="hidden">Id</th> -->
    <th>Project Name</th>
    <th>Date start/end</th>
   
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let myProject of projects">
    <!-- <td class="hidden">{{myProject.id}}</td> -->
    <td>{{myProject.id}}</td>
   <td>{{myProject.name}}</td>
   <td>
      <button (click)="ProjectDetails(myProject)"> Details </button>
      <button (click)="EditProject(myProject)"> Edit </button>
      <button (click)="deleteProject(myProject)"> Delete </button>
    </td>
  </tr>
  </tbody>
</table>

<!-- <div *ngFor="let myProject of projects | keyvalue">
  Key: <b>{{myProject.key}}</b> and Value: <b>{{myProject.value}}</b>
</div> -->